<footer class="text-white">
    <div class="footer-content container">
        <div class="row">
            <div class="col-md-6">
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 text-md-end d-flex justify-content-md-end justify-content-center">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link " href="/contact"> Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <p>Shree &copy; <script>document.write(new Date().getFullYear())</script></p>
    </div>
</footer>